.pumpkin-link {
    text-decoration: none;
    color: black;
    position: relative;
    padding-left: 25px;
}

.pumpkin-link {
    background: url("../img/pumpkin.png") no-repeat left center;
    background-size: 20px;
    padding-left: 25px;
    text-decoration: none;

}
