.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 kolommen */
    grid-template-rows: repeat(5, 1fr);    /* 5 rijen */
    gap: 10px;
    padding: 20px;
    height: 600px;
}

.container .block{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
}


.block.block1 { grid-column: 1; grid-row: 1; } /* linksboven (1,1) */
.block.block2 { grid-column: 5; grid-row: 1; } /* rechtsboven (1,5) */
.block.block3 { grid-column: 1; grid-row: 5; } /* linksonder (5,1) */
.block.block4 { grid-column: 5; grid-row: 5; } /* rechtsonder (5,5) */


.block.block5 { grid-column: 3; grid-row: 3; } /* midden (3,3) */


.block.block6 { grid-column: 2; grid-row: 2; }
.block.block7 { grid-column: 4; grid-row: 4; }
.block.block8 { grid-column: 2; grid-row: 4; }
.block.block9 { grid-column: 4; grid-row: 2; }
